body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  background: url('/static/resources/wavelight.png') no-repeat center center fixed; 
  background-size: cover;
}
.container {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff; /* added a white background for the container */
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* added a subtle shadow */
}
.index-container {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff; /* added a white background for the container */
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* added a subtle shadow */
  transition: opacity 1s ease-in-out;
  opacity: 0; /* Start invisible */
}
h1, h2 {
  color: #333;
  text-align: center;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  padding: 10px 0;
}
a {
  text-decoration: none;
  color: #0066cc;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
th {
  background-color: #14c2b3;
  color: white;
}

tr:hover {
  background-color: #eaeaea;
  transition: background-color 0.3s ease; /* added transition for a smoother hover effect */
}

#prs {
  width: 15%;
}

#team_athletes {
  width: 20%;
}

th[colspan="4"] {
  background-color: #14c2b3;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.home-button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: rgb(30, 30, 146);
  text-decoration: none;
  border-radius: 5px;
}


/*-- gold silver bronze
tr:nth-of-type(2) {
  background-color: #FFD700;
}
tr:nth-of-type(3) {
  background-color: #C0C0C0;
}
tr:nth-of-type(4) {
  background-color: #CD7F32;
}
==*/

.bari-mode {
  background-color: #000000;
  color: #1dbb7e;
}